{% load static %}
<html>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#FAFAFA; height:100% !important; margin:0; padding:0; width:100% !important;" >
                <tr>
                    <td align="center" valign="top" style="padding-top:20px;">
                        <!-- // Begin Template Preheader \\ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="600" >
                            <tr>
                                <td valign="top">
                                
                                    <!-- // Begin Module: Standard Preheader \ -->
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tr>
                                            
                                            
                                            <td valign="top" width="190">
                                                <div style="color: #505050;font-family: Arial;font-size: 11px;line-height: 100%;text-align: center;">
                                                    
                                                </div>
                                            </td>
                                            <!-- *|END:IF|* -->
                                        </tr>
                                    </table>
                                    <!-- // End Module: Standard Preheader \ -->
                                
                                </td>
                            </tr>
                        </table>
                        <!-- // End Template Preheader \\ -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#F7F7F7;border-bottom:0;">
                                    <tr>
                                        <td class="headerContent" style="color:#666666;font-family:Arial;font-size:20px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle;padding-top:0;padding-bottom:5px;border-bottom:3px solid #3F526D;">
                                            
                                                <!-- // Standard Header Image \\ -->
                                                <img src="{{url}}/static/img/cabecera-mailing.png" style="display:block" att="" title="" width="600px" height="57px"/>
                                                <!-- // End Standard Header Image \\ -->
                                            
                                        </td>
                                    </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600">
                                        <tr>
                                            <td valign="top">
                                
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="bodyContent" style="background-color:#FFFFFF; padding-bottom:0px;">
                                                            <div style="color:#666;font-family:Arial;font-size:14px;line-height:150%;text-align:left;">
                                                                <h1 style="color:#666;display:block;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left;">Hola, <span style="color: #3F526D;font-weight: bold;">{{nombre_completo}}</span></h1>
                                                                <p>
                                                                    Bienvenido al sistema, tu contraseña de acceso para el usuario <span style="color: #3F526D;font-weight: bold;">{{username}}</span> es:
                                                                    <span style="color: #3F526D;font-weight: bold">{{password}}</span>

                                                                    <br><br>
                                                                    Puedes acceder mediante el siguiente enlace: <span style="color: #109aea;">{{url}}</span>
                                                                </p>
                                                                
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Footer \\ -->
                                    <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color:#FFFFFF;border-top:0;">
                                        <td class="headerContent" style="color:#666666;font-family:Arial;font-size:20px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle;padding-top:10px;">
                                            
                                                <!-- // Standard Header Image \\ -->
                                                <img src="{{url}}/static/img/footer-mailing.png" style="display:block" att="" title="" width="600px" height="57px"/>
                                                <!-- // End Standard Header Image \\ -->
                                            
                                        </td>

                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>