@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face { font-family:Roboto; font-display:swap; }

@page {
  size: Letter; /* Change from the default size of A4 */
  margin: 2.5cm; /* Set margin on each page */
}


body {
   font-family: Roboto;

}

table.table {
  width: 100%;
}

table.table td {
  text-align: justify;
}

.page-contenido {
  margin-bottom: 40px;
}

.page-contenido img {
  width: 500px;
}

.page-contenido img.organigrama {
  width: 780px;
  margin-left: -80px;
}

.page-indice .titulo {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.194857px;
  color: #001c41;
  border-bottom: 5px solid #0f69c4;
}

div.item {
  padding: 15px;
}

.footer {
  padding-top: 30px;
  font-size: 10px;
}
