.page-break {
	page-break-before: always;
}
.img {
	width: 250px;
	max-width: 250px;
	height: 250px;
	max-height: 250px;
}

body{
	font-size: 12px;
}

h1{
	font-size: 16px;
}

h2{
	font-size: 14px;
}

h3{
	font-size: 12px;
}